body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #1c1c1c;
}
header {
    height: 20%;
    background-color: white;
    text-align: center;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main{
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 15px 30px;
    display: flex;
}

.header-main .heafer-logo {
    width: 20%;
    height: 100%;
    padding: 15px 30px;
}

.heafer-logo a{
    font-family: Papyrus, sans-serif ;
    font-size: clamp(20px, 3vw, 64px)
}

.header-main .header-menu {
    width: 50%;
    height: 100%;
    padding: 15px 30px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.header-main .header-menu .menu-chinh {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 24px;
    padding: 0;
    margin: 0;
}
.menu-chinh li a {
    gap: 30px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.menu-chinh li a:hover {
    color: #a58b6e;
}

.header-main .header-action {
    width: 30%;
    height: 100%;
    padding: 15px 30px;
}